<table class="table is-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Word Count
            </th>
            <th>
                Snippet
            </th>
        </tr>
    </thead>
    <tbody>
        <tr
        *ngFor="let page of pages"
        >
        <td>
            {{ pages.title }}
        </td>
        <td>            
            {{ pages.wordcount }}
        </td>
        <td>
            {{ pages.snippet }}
        </td>
        </tr>
    </tbody>
</table>



